<nb-layout>
    <nb-layout-header fixed class="NavBar">
      <div class="row" style="width: 100%;">
        <div class="col-2">
          <img class="img-logo" src="assets/postgrado.png" alt="Logo UPEA">
        </div>
        <div class="col-8" style="color: #ffffff;">
          PSG MANUAL DE USUARIO
        </div>
        <div style="color: #ffffff;" class="col-2">
          <a (click)="logout()" href="#" nbButton> Salir</a>
        </div>
      </div>
    </nb-layout-header>
    <nb-sidebar class="sideBar">
        <nb-menu [items]="menu"></nb-menu>
    </nb-sidebar>
    <nb-layout-column>
      <router-outlet></router-outlet>
    </nb-layout-column>
  </nb-layout>
