<nb-card class="badge">
    <nb-card-header class="text-center">POSTGRADO - UPEA</nb-card-header>
    <nb-card-body>
      <h1 class="text-center">Login</h1>
      <div class="row justify-content-center align-items-center">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <ng-container *ngIf="error">
              <p class="error-message">Usuario o contraseña incorrectas ...</p>
            </ng-container>
              <div class="form-row space-group">
                  <label for="usuario" class="label">Usuario</label>
                  <input type="text" name="usuario" nbInput fullWidth
                    placeholder="Usuario"
                    formControlName="usuario"
                    [status]="(submitted && f.usuario.errors)? 'danger': 'success'">
                  <ng-container *ngIf="submitted && f.usuario.errors">
                    <p class="error-message">El campo es necesario. !</p>
                  </ng-container>
                </div>
                <div class="form-row">
                  <label for="password" class="label">Contraseña</label>
                  <input type="password" name="password" nbInput fullWidth
                    placeholder="Contraseña"
                    formControlName="password"
                    [status]="(submitted && f.password.errors)? 'danger': 'success'">
                  <ng-container *ngIf="submitted && f.password.errors">
                    <p class="error-message"></p>
                  </ng-container>
                </div>
                <br>
                <div class="form-row space-group">
                    <button nbButton
                      fullWidth
                      status="success"
                      type="submit"
                      >
                      Registrar
                    </button>
                </div>
          </form>
      </div>
    </nb-card-body>
    <nb-card-footer>By Ruben Mayta </nb-card-footer>
</nb-card>