<nb-card size="medium">
    <nb-card-body>
        <nb-stepper orientation="vertical">
            <nb-step label="Paso 1">
                <h4>Login Android #1</h4>
                <div class="row">
                  <div class="col-5">
                    <img class="img-pasos" src="../../../assets/imagen_prueba.jpg" alt="">
                  </div>
                  <div class="col-7">
                    <p class="lorem">
                      Proin varius accumsan semper. Praesent consequat tincidunt sagittis. Curabitur egestas sem a ipsum bibendum,
                      sit amet fringilla orci efficitur. Nam bibendum lectus ut viverra tristique. Fusce eu pulvinar magna, quis
                      viverra ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent metus turpis, commodo vel
                      placerat quis, lobortis in ligula.
                    </p>
                    <p class="lorem">
                      Curabitur luctus mattis risus nec condimentum. Donec at dui turpis. Sed vehicula fringilla rutrum. Nullam
                      sed ornare magna. Mauris vitae laoreet diam. Mauris fermentum ligula at lacinia semper. Nulla placerat dui
                      eu sapien pellentesque, eu placerat leo luctus. Cras pharetra blandit fermentum.
                    </p>
                  </div>
                </div>
                <button nbButton disabled nbStepperNext>prev</button>
                <button nbButton nbStepperNext>next</button>
              </nb-step>
              <nb-step label="Paso 2">
                <h4>Solicitar Informacion #2</h4>
                <div class="row">
                  <div class="col-5">
                    <img class="img-pasos" src="../../../assets/imagen_prueba.jpg" alt="">
                  </div>
                  <div class="col-7">
                    <p class="lorem">
                      Proin varius accumsan semper. Praesent consequat tincidunt sagittis. Curabitur egestas sem a ipsum bibendum,
                      sit amet fringilla orci efficitur. Nam bibendum lectus ut viverra tristique. Fusce eu pulvinar magna, quis
                      viverra ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent metus turpis, commodo vel
                      placerat quis, lobortis in ligula.
                    </p>
                    <p class="lorem">
                      Curabitur luctus mattis risus nec condimentum. Donec at dui turpis. Sed vehicula fringilla rutrum. Nullam
                      sed ornare magna. Mauris vitae laoreet diam. Mauris fermentum ligula at lacinia semper. Nulla placerat dui
                      eu sapien pellentesque, eu placerat leo luctus. Cras pharetra blandit fermentum.
                    </p>
                  </div>
                </div>
                <button nbButton nbStepperPrevious>prev</button>
                <button nbButton nbStepperNext>next</button>
              </nb-step>
              <nb-step label="Paso 3">
                <h4>Coodrinador Programa #3</h4>
                <div class="row">
                  <div class="col-5">
                    <img class="img-pasos" src="../../../assets/imagen_prueba.jpg" alt="">
                  </div>
                  <div class="col-7">
                    <p class="lorem">
                      Proin varius accumsan semper. Praesent consequat tincidunt sagittis. Curabitur egestas sem a ipsum bibendum,
                      sit amet fringilla orci efficitur. Nam bibendum lectus ut viverra tristique. Fusce eu pulvinar magna, quis
                      viverra ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent metus turpis, commodo vel
                      placerat quis, lobortis in ligula.
                    </p>
                    <p class="lorem">
                      Curabitur luctus mattis risus nec condimentum. Donec at dui turpis. Sed vehicula fringilla rutrum. Nullam
                      sed ornare magna. Mauris vitae laoreet diam. Mauris fermentum ligula at lacinia semper. Nulla placerat dui
                      eu sapien pellentesque, eu placerat leo luctus. Cras pharetra blandit fermentum.
                    </p>
                  </div>
                </div>
                <button nbButton nbStepperPrevious>prev</button>
                <button nbButton nbStepperNext>next</button>
              </nb-step>
              <nb-step label="Paso 4">
                <h4>Panel principal #4</h4>
                <div class="row">
                  <div class="col-5">
                    <img class="img-pasos" src="../../../assets/imagen_prueba.jpg" alt="">
                  </div>
                  <div class="col-7">
                    <p class="lorem">
                      Proin varius accumsan semper. Praesent consequat tincidunt sagittis. Curabitur egestas sem a ipsum bibendum,
                      sit amet fringilla orci efficitur. Nam bibendum lectus ut viverra tristique. Fusce eu pulvinar magna, quis
                      viverra ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent metus turpis, commodo vel
                      placerat quis, lobortis in ligula.
                    </p>
                    <p class="lorem">
                      Curabitur luctus mattis risus nec condimentum. Donec at dui turpis. Sed vehicula fringilla rutrum. Nullam
                      sed ornare magna. Mauris vitae laoreet diam. Mauris fermentum ligula at lacinia semper. Nulla placerat dui
                      eu sapien pellentesque, eu placerat leo luctus. Cras pharetra blandit fermentum.
                    </p>
                  </div>
                </div>
                <button nbButton nbStepperPrevious>prev</button>
                <button nbButton nbStepperNext>next</button>
              </nb-step>
        </nb-stepper>
    </nb-card-body>
</nb-card>
